* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #1f2125;
}

img {
  max-width: 100%;
}

button {
  font-family: inherit;
}

input,
button {
  outline: none;
}
